.bodytext {
font-family: 'Lato';
font-weight: light;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
    display: inline-block;
    font-size: 16px;

.button:hover {
    background-color: pink;
}